body { padding:50px; }
.panel-primary, .panel-default { width:30%; float:left; margin-right:2%; min-height:180px;}
.cl { clear:both; }
input[type=text], textarea {
	padding: 3px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.2)
}
textarea { 
	width: 100%; 
	margin-bottom: 12px;
}

.date {
	float:right;
}
button {
	margin: 0 0 12px 12px;
}