	
<div class="page404">
	<div class="panel-danger" >
	<div class="panel-heading"> 
	<h3 style="text-align: center;">
		Arrgghhh ! <br><br>
		You have landed in the dreaded land of 
		<br><br>{{ page_not_found }} !!</h3>
		<br>
	</div>
	</div>

<!--
	<img src="app/partials/drunkenPirate_avatar.png" style= "width: 250px; height: 250px;">
-->

<img src = {{picture1}} style= "width: 250px; height: 250px;  border: solid #e1eef3;">


<div class="panel-primary">
<!--
	<div class="panel-heading panel-title">

-->
	<div class="panel-heading panel-title" style="text-align: center;">


<h3 >
	Never lose hope, Matey... To sail yerself back home,
	press the button ! <br>
</h3>
</div>
</div>

<br><br><br>

<div style="text-align: center; margin-left: 35%;">
	<a href="#" class="btn btn-block btn-danger btn-embossed" style="width: 45%; font-size: 30px;">Sail Home</a>
</div>

</div>